*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #38524C;
}
.cover img{
    width: 100%;
    height: auto;
}
h4{
    font-size: 30px;
    text-align: center;
}
.formulaire{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container{
    display: flex;
    background: #6587A1;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    position: absolute;
    width: 30rem;
}

label{
    margin-bottom: 60px;

}
input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    outline: none;
    margin-bottom: 10px;
    width: 100%;
}
input:focus{
    border: 1px solid rgb(73, 238, 73);
}
input[type="submit"]{
    margin-top: 10px;
    background-color: #ABB6C8;
    border: 1px solid #ABB6C8;
    color: white;
    cursor: pointer;
}
p{
    margin-top: 10px;
    text-align: center;
    font-size: 14px;

}
.submit{
    margin-top: 10px;
    text-align: center;
}
p a{
    color: #6597e7;
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;
}